asgiref==3.11.1
Django==5.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
pillow==12.3.0
PyJWT==2.13.0
sqlparse==0.5.5
tzdata==2026.2




"refresh": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTc4MzYyMTQzNSwiaWF0IjoxNzgzNTM1MDM1LCJqdGkiOiIwNDNjN2MwMjQ0YWM0ZThiYWIwNDBmNmY5MTRkNTc0ZCIsInVzZXJfaWQiOiIxIn0.W2U7D8bMXGWRiY4rcdHRyoraJM30QVgKtDHaNnbIvpw",
"access": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzgzNTM1MzM1LCJpYXQiOjE3ODM1MzUwMzUsImp0aSI6IjMwYTk1ZTU5NDI3ODRiMDk5Y2NmMzQ4MjBlZmM2OTczIiwidXNlcl9pZCI6IjEifQ.sBqoWH4wNIb7WAqfvzb2eKJkU1gu_1SuyAntz1aN2GU"